<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <div class="center jumbotron">
    <head>
      <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
      <title><%= yield(:title) %> | Clubhouse Sample App</title>
    </head>
    <body>
      <h1 class="text-center">Clubhouse</h1>
      <hr class="my-4">
      <p >
        This is the home page for the
        <a href="https://en.wikipedia.org/wiki/Clubhouse/">Clubhouse</a>
        
      </p>
    </body>
  </div>
  
</html>