<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<div class="center jumbotron">
  <head>
    <title><%= yield(:title) %> | Clubhouse Sample App</title>
  </head>
  <body>
    <h1 class="text-center">Clubhouse</h1>
    <hr class="my-4">
    <p >
      This is the home page for the
      <a href="https://en.wikipedia.org/wiki/Clubhouse/">Clubhouse
</a>
      From Wikipedia, the free encyclopedia
    </p>

    <div class="float-right">
  <% if logged_in? %>
  <%= link_to "(#{current_user.name}) Log out", log_out_path, method: "delete" %>
  <% else %>
    <%= link_to 'Log in', login_path, class: "btn btn-lg btn-primary"
    %>
  <% end %>
</div>


  </body>
  </div>
</html>
