<h1>Members Only Posts</h1>

<% @posts.each do |post| %>
  <% if logged_in? %>
    <p class="float-right">
      Posted by:
      <%= post.user.name %>
    </p>
  <% end %>
  <h4 class="float-left"><%=post.title %></h4>  
  <p class="clear"><%= post.body %></p>
<% end %>

<% if logged_in? %>
  <%= link_to "Create a Post", new_post_path %>
<% end %>
