<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "clubhouse", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Sign up", 'new_user_path' %></li>
        <li><%= link_to "Log in", 'login' %></li>
      </ul>
    </nav>
  </div>
</header>